{
  "openapi": "3.0.0",
  "info": {
    "title": ""
  },
  "servers": [
    {
      "url": "https://raas-partner-cv.nomas.cash/v1"
    }
  ],
  "paths": {
    "/auth/register-sender": {
      "post": {
        "operationId": "registerSender",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Initiates a validated account with privileges to act as a regular remittance sender.",
        "summary": "Register active sender",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Basic KYC data required for onboarding.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserParams"
              }
            }
          }
        }
      }
    },
    "/auth/register-receiver/{userToken}": {
      "post": {
        "operationId": "registerReceiver",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Adds a validated inter-tenant beneficiary to the originator's contact book for recurring cross-funding.",
        "summary": "Enroll beneficiary to sender",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Originator session identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Identifiable receiver data to link.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserParams"
              }
            }
          }
        }
      }
    },
    "/cip/process/{phoneNumber}": {
      "get": {
        "operationId": "getCIPInfo",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CIPInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves CIP level detail and proof-collection progress for a single user.",
        "summary": "Get CIP validation status",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Phone number that indexes the account.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/contacts/{userToken}": {
      "get": {
        "operationId": "listContacts",
        "responses": {
          "200": {
            "description": "Array of contact info.",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactInfo"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "description": "Retrieves all contacts stored for a user by their ID.",
        "summary": "List user contacts",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createContact",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Adds and stores a new contact in the user's address book; prevents duplicate phones.",
        "summary": "Create contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Owner user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Contact data to register.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createContactRequestParamsPartner"
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "responses": {
          "200": {
            "description": "Updated"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateError"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Updates and persists attributes of an existing contact for the user.",
        "summary": "Update contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token (contact owner).",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Updated contact attributes.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateContactRequestParams"
              }
            }
          }
        }
      }
    },
    "/user/contacts/user/{userToken}/{phoneOrEmail}": {
      "get": {
        "operationId": "getContactUserDetail",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "hasCompletedOperations": {
                      "type": "boolean"
                    },
                    "hasOperations": {
                      "type": "boolean"
                    },
                    "userExists": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "hasCompletedOperations",
                    "hasOperations",
                    "userExists"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Checks whether a contact (by phone or email) is a registered user and has transactions with the sender.",
        "summary": "Get contact user detail",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Sender user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Contact phone or email.\n\nExample: `+19166020018` or `test@example.com`.\n- Contact phone or email.",
            "in": "path",
            "name": "phoneOrEmail",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors": {
      "get": {
        "operationId": "getCorridors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CorridorDTO"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns transfer corridors filtered by region and operation type.",
        "summary": "Get service corridors",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Source country code.",
            "in": "query",
            "name": "sourceCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Operation type (default SendFunds).",
            "in": "query",
            "name": "operationType",
            "required": false,
            "schema": {
              "default": "SendFunds",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-methods/{userToken}": {
      "get": {
        "operationId": "getAvailablePaymentMethods",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Computes available receiving methods types for the corridor.",
        "summary": "Get available receiving methods types",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Destination country code.\nISO 3166-1 alpha-2.\nExample: `MX` for Mexico, `US` for United States.\n- Destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Transaction type.\nExample: `SendFunds` for sending funds, `RequestFunds` for requesting funds.\n- Transaction type.",
            "in": "query",
            "name": "operationType",
            "required": false,
            "schema": {
              "default": "SendFunds",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-operations/{userToken}": {
      "get": {
        "operationId": "getAvailableOperationType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Determines allowed operation types for the user by location and destination (Send/Request).",
        "summary": "Get allowed operation types",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination country for evaluation.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-operations-data-free": {
      "get": {
        "operationId": "getAvailableOperationsNoUser",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AvailableOperationsData"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Discovers which transactions are enabled toward a destination for the public tenant, without a user.",
        "summary": "Get public operation parameters",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Optional destination phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-payout-methods/{userToken}": {
      "get": {
        "operationId": "getAvailablePayoutMethods",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Inspects corridors and returns unified payout methods approved for the destination.",
        "summary": "Get available payout methods",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token originating the request.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- ISO destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Intended operation type.",
            "in": "query",
            "name": "operationType",
            "required": false,
            "schema": {
              "default": "SendFunds",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/send-money/{userToken}": {
      "get": {
        "operationId": "listFundingSourcesForSend",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SourceOfFunding"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieves funding methods and instruments enabled for the user's send-money operations.",
        "summary": "Get funding sources ( send)",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Sender user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Source country code.",
            "in": "query",
            "name": "sourceCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/cash/operators/{userToken}": {
      "post": {
        "operationId": "getCashOperators",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CashOperators"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns cash correspondent operators the user is allowed to use for in-branch deposits or pickups.",
        "summary": "Get cash operators",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Optional pagination or filter for operators.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashOperatorsParamsBase"
              }
            }
          }
        }
      }
    },
    "/user/funding/cash/reference-code/{userToken}": {
      "post": {
        "operationId": "setReferenceCode",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReferenceCodeResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Creates or sets a temporary reference code (voucher) for cash payment via the clearing entity.",
        "summary": "Create reference code",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Active user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Service data, amount and pickup location.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetReferenceCodeParamsBase"
              }
            }
          }
        }
      }
    },
    "/user/funding/cash/reference-code/{userToken}/{referenceCodeId}": {
      "get": {
        "operationId": "getReferenceCodeById",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferenceCode"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Fetches the timestamp and final evaluation status for a reference code (cash payment), expired or pending.",
        "summary": "Get reference code by ID",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Internal reference code ID.",
            "in": "path",
            "name": "referenceCodeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Owner user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/card/add/{userToken}": {
      "post": {
        "operationId": "createFundingCard",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaaSPaymentMethod"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Registers a card as a new receiving method.",
        "summary": "Register card",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Card data (encrypted/raw) to add.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCardPartnerParams"
              }
            }
          }
        }
      }
    },
    "/user/funding/source/get-payment-method-v2/{userToken}": {
      "get": {
        "operationId": "getPaymentMethodV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaaSPartnerPaymentMethod"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieves the summary structure for a receiving method by ID.",
        "summary": "Get receiving method",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "Default",
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- End user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Associated payment method ID.",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": "",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/ubn-account/add/{userToken}": {
      "post": {
        "operationId": "addUBNAccount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Adds a UBN account as a new receiving method.",
        "summary": "Add UBN account",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Validated payload with required parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUBNParams"
              }
            }
          }
        }
      }
    },
    "/user/funding/contact/source/{userToken}": {
      "get": {
        "operationId": "getDestinationSOFForContactUsers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SourceOfFunding"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Inspects unified records for destination accounts (other than originator) where funds were deposited.",
        "summary": "Get funding sources by contact",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Originator user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary phone.",
            "in": "query",
            "name": "destinationPhone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/send-funds/{userToken}": {
      "post": {
        "operationId": "sendFunds",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponsePartner"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Modern send operation using locked quotation IDs tied to the order.",
        "summary": "Send funds ( v1)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Sender token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Payload requiring quotation ID.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyPartnerParams"
              }
            }
          }
        }
      }
    },
    "/user/operations/send-funds-v2/{userToken}": {
      "post": {
        "operationId": "sendFundsV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponsePartner"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Send variant for cash and wallet destinations, allowing recipients without a preloaded contact.",
        "summary": "Send funds V2",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Send to arbitrary destination using quotation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyPartnerV2Params"
              }
            }
          }
        }
      }
    },
    "/user/operations/status/{userToken}/{operationId}": {
      "get": {
        "operationId": "getOperationStatus",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieves a recent partial snapshot of processing or delivery status for a transaction.",
        "summary": "Get operation status",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User involved in the transaction.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Operation UUID.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/quotation/{userToken}": {
      "post": {
        "operationId": "getOperationQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Pre-calculates cross-border amounts with conversion snapshot and fees for an imminent order.",
        "summary": "Get operation quote",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Requester UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Currency pairs and suggested origin/destination amount.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionBase"
              }
            }
          }
        }
      }
    },
    "/user/operations/operation-quote/{userToken}": {
      "post": {
        "operationId": "operationQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Quotes fees, exchange rate and tax for a send, holding the rate temporarily.",
        "summary": "Create firm quotation ( v1)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Signer UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Funding instrument and chosen methods.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionPartnersBase"
              }
            }
          }
        }
      }
    },
    "/user/operations/operation-quote-v2/{userToken}": {
      "post": {
        "operationId": "operationQuoteV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Quotes interbank fees using looser parameters without exact destination required in V1.",
        "summary": "Create firm quotation ( V2)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Active evaluator identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Quotation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionPartnersBase"
              }
            }
          }
        }
      }
    },
    "/user/operations/pre-quote/{userToken}": {
      "post": {
        "operationId": "preQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasPreQuoteResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Simulates a preliminary fee scenario by parity and corridors without full identity or destination.",
        "summary": "Pre-quote (simulation)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Prospect identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Source instrument and gross amount.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerPreQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/user/operations/detail/{id}": {
      "get": {
        "operationId": "getOperation",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationDetail"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves detailed anatomy, audit pipeline and accounting methods for an operation UUID.",
        "summary": "Get operation detail",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Unique operation UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/{userToken}": {
      "get": {
        "operationId": "getOperations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetail"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Lists in/out transaction history for the given user ID.",
        "summary": "List operations (history)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User ID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Optional filter by destination phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/in-out/{userToken}": {
      "get": {
        "operationId": "getInAndOutOperations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetailResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Aggregates in and out operations for this user, excluding those outside their control.",
        "summary": "Get in/out operations",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User to compute transactions for.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Optional filter by destination phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Optional filter by destination email.",
            "in": "query",
            "name": "toEmail",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/completed/{userToken}": {
      "get": {
        "operationId": "getCompletedOperationsBetweenUsers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetailResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Returns completed operations to or from a specific phone/email.",
        "summary": "Get completed operations between users",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Authenticated user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary/contact phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary email.",
            "in": "query",
            "name": "toEmail",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/frequent/{userToken}/{limit}": {
      "get": {
        "operationId": "getFrequentContacts",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ContactInfo"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns contacts with consolidated interaction data for quick smart suggestions (top N).",
        "summary": "Get frequent contacts",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Requester user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Top N contacts to return.",
            "in": "path",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "double",
              "type": "number"
            }
          }
        ]
      }
    },
    "/user/operations/notify-cash-operation/{userToken}/{operationId}": {
      "get": {
        "operationId": "notifyCashOperation",
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Triggers a backend alert to the cash operator after recording deposit intent.",
        "summary": "Notify cash branch operator",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- RaaS user operating with cash.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Operation UUID to complete with cash.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/operation-quote-lite": {
      "post": {
        "operationId": "operationQuoteLite",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteLiteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Returns projections and minimum costs to simulate a send without strict gateway identity.",
        "summary": "Quote lite (fee simulation)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Reduced model with parity type and amounts.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteLiteTransaction"
              }
            }
          }
        }
      }
    },
    "/user/exchange-rates/exchange-rates": {
      "get": {
        "operationId": "getExchangeRates",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ExchangeRate"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Retrieves exchange rates applicable for the tenant or corresponding country.",
        "summary": "Get exchange rates",
        "tags": [],
        "security": [
          {
            "api_key": [
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Source currency code.",
            "in": "query",
            "name": "currencyCodeSrc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination currency code.",
            "in": "query",
            "name": "currencyCodeDest",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "examples": {},
    "headers": {},
    "parameters": {},
    "requestBodies": {},
    "responses": {},
    "schemas": {
      "PlatLevelStatusDetail": {
        "enum": [
          "None",
          "InvalidAddress",
          "InvalidEMail",
          "UnreadableDoc",
          "ProvideAdditionalInfo",
          "InvalidPersonalData",
          "OtpPrivacyMissing",
          "OtpContractMissing",
          "Compliance",
          "ComplianceBlocked",
          "OfacFailed"
        ],
        "type": "string"
      },
      "UserTokenResponse": {
        "properties": {
          "userId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDetail": {
            "$ref": "#/components/schemas/PlatLevelStatusDetail"
          }
        },
        "required": [
          "userId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "CountryAlpha2Code": {
        "type": "string",
        "enum": [
          "AF",
          "AX",
          "AL",
          "DE",
          "AD",
          "AO",
          "AI",
          "AQ",
          "AG",
          "SA",
          "DZ",
          "AR",
          "AM",
          "AW",
          "AU",
          "AT",
          "AZ",
          "BS",
          "BD",
          "BB",
          "BH",
          "BE",
          "BZ",
          "BJ",
          "BM",
          "BY",
          "BO",
          "BQ",
          "BA",
          "BW",
          "BR",
          "BN",
          "BG",
          "BF",
          "BI",
          "BT",
          "CV",
          "KH",
          "CM",
          "CA",
          "QA",
          "TD",
          "CL",
          "CN",
          "CY",
          "CO",
          "KM",
          "KP",
          "KR",
          "CI",
          "CR",
          "HR",
          "CU",
          "CW",
          "DK",
          "DM",
          "EC",
          "EG",
          "SV",
          "AE",
          "ER",
          "SK",
          "SI",
          "ES",
          "US",
          "EE",
          "ET",
          "PH",
          "FI",
          "FJ",
          "FR",
          "GA",
          "GM",
          "GE",
          "GH",
          "GI",
          "GD",
          "GR",
          "GL",
          "GP",
          "GU",
          "GT",
          "GF",
          "GG",
          "GN",
          "GW",
          "GQ",
          "GY",
          "HT",
          "HN",
          "HK",
          "HU",
          "IN",
          "ID",
          "IQ",
          "IR",
          "IE",
          "BV",
          "IM",
          "CX",
          "IS",
          "KY",
          "CC",
          "CK",
          "FO",
          "GS",
          "HM",
          "FK",
          "MP",
          "MH",
          "PN",
          "SB",
          "TC",
          "UM",
          "VG",
          "VI",
          "IL",
          "IT",
          "JM",
          "JP",
          "JE",
          "JO",
          "KZ",
          "KE",
          "KG",
          "KI",
          "KW",
          "LA",
          "LS",
          "LV",
          "LB",
          "LR",
          "LY",
          "LI",
          "LT",
          "LU",
          "MO",
          "MK",
          "MG",
          "MY",
          "MW",
          "MV",
          "ML",
          "MT",
          "MA",
          "MQ",
          "MU",
          "MR",
          "YT",
          "MX",
          "FM",
          "MD",
          "MC",
          "MN",
          "ME",
          "MS",
          "MZ",
          "MM",
          "NA",
          "NR",
          "NP",
          "NI",
          "NE",
          "NG",
          "NU",
          "NF",
          "NO",
          "NC",
          "NZ",
          "OM",
          "NL",
          "PK",
          "PW",
          "PS",
          "PA",
          "PG",
          "PY",
          "PE",
          "PF",
          "PL",
          "PT",
          "PR",
          "GB",
          "EH",
          "CF",
          "CZ",
          "CG",
          "CD",
          "DO",
          "RE",
          "RW",
          "RO",
          "RU",
          "WS",
          "AS",
          "BL",
          "KN",
          "SM",
          "MF",
          "PM",
          "VC",
          "SH",
          "LC",
          "ST",
          "SN",
          "RS",
          "SC",
          "SL",
          "SG",
          "SX",
          "SY",
          "SO",
          "LK",
          "SZ",
          "ZA",
          "SD",
          "SS",
          "SE",
          "CH",
          "SR",
          "SJ",
          "TH",
          "TW",
          "TZ",
          "TJ",
          "IO",
          "TF",
          "TL",
          "TG",
          "TK",
          "TO",
          "TT",
          "TN",
          "TM",
          "TR",
          "TV",
          "UA",
          "UG",
          "UY",
          "UZ",
          "VU",
          "VA",
          "VE",
          "VN",
          "WF",
          "YE",
          "DJ",
          "ZM",
          "ZW"
        ]
      },
      "GetUserTokenParams": {
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code.\nExample: `+19166020018`."
          },
          "email": {
            "type": "string",
            "description": "Email address."
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryAlpha2Code",
            "description": "Country code.\nISO 3166-1 alpha-2."
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "Language": {
        "enum": [
          "en",
          "es"
        ],
        "type": "string"
      },
      "RegisterUserParams": {
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code.\nExample: `+19166020018`.\n\nIt doesn't allow duplicates."
          },
          "lastName": {
            "type": "string"
          },
          "lastName2": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "Male",
              "Female",
              "Other",
              "None"
            ]
          },
          "dob": {
            "type": "string",
            "format": "date-time",
            "description": "Date of birth in ISO 8601 format. `AAAA-MM-DD`."
          },
          "email": {
            "type": "string",
            "description": "Email address.\nIt doesn't allow duplicates.\nDOB may be validated against age restrictions. The service is available for those 18 years or older."
          },
          "firstName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "address1": {
            "type": "string",
            "description": "User legal address, Street and number.\nExample: `Blvd. Kukulcan Km. 4.5`."
          },
          "address2": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "streetNumber": {
            "type": "string"
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryAlpha2Code"
          },
          "city": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "Address state/province/department.\nISO 3166-2:CC (CC: country code).\nOr the state short name.\nExample: `CA` for California, `NY` for New York, `TX` for Texas."
          },
          "birthState": {
            "type": "string",
            "description": "Address state/province/department.\nISO 3166-2:CC (CC: country code).\nOr the state short name.\nExample: `CA` for California, `NY` for New York, `TX` for Texas."
          },
          "lang": {
            "$ref": "#/components/schemas/Language"
          },
          "placeDetail": {
            "type": "string",
            "description": "Place detail from address if available.\nFrom google maps place details."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude from address"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude from address"
          },
          "callLocationLatitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude from user location"
          },
          "callLocationLongitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude from user location"
          }
        },
        "required": [
          "lastName",
          "dob",
          "firstName",
          "address1",
          "countryCode",
          "city",
          "state"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "RegisterTrustedUserResponse": {
        "properties": {
          "userId": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "SessionLinkPaymentMethodType": {
        "type": "string",
        "enum": [
          "BankAccount",
          "DigitalWallet",
          "Card",
          "UBN"
        ]
      },
      "AddUBNParams": {
        "properties": {
          "number": {
            "type": "string"
          },
          "isPrimary": {
            "type": "boolean"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "number"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "AddCardSessionParams": {
        "properties": {
          "name": {
            "type": "string"
          },
          "cardtype": {
            "type": "string",
            "enum": [
              "DebitCard",
              "CreditCard"
            ]
          },
          "number": {
            "type": "string"
          },
          "nameOnCard": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "securityCode": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "cardNetwork": {
            "type": "string",
            "enum": [
              "NotApplicable",
              "UATP",
              "Visa",
              "ChinaUnionPay",
              "InterPayment",
              "DiscoverCard",
              "Dankort",
              "Cardguard",
              "MIR",
              "MasterCard",
              "Verve",
              "InstaPayment",
              "Maestro",
              "DinersClubInternational",
              "AmericanExpress",
              "JCB",
              "TROY"
            ]
          }
        },
        "required": [
          "name",
          "cardtype",
          "number",
          "nameOnCard",
          "expirationDate",
          "cardNetwork"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SessionLinkParams": {
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number with country code.\nExample: `+19166020018`.\n\nIt doesn't allow duplicates."
          },
          "lastName": {
            "type": "string"
          },
          "lastName2": {
            "type": "string"
          },
          "gender": {
            "type": "string",
            "enum": [
              "Male",
              "Female",
              "Other",
              "None"
            ]
          },
          "dob": {
            "type": "string",
            "format": "date-time",
            "description": "Date of birth in ISO 8601 format. `AAAA-MM-DD`."
          },
          "email": {
            "type": "string",
            "description": "Email address.\nIt doesn't allow duplicates.\nDOB may be validated against age restrictions. The service is available for those 18 years or older."
          },
          "firstName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "address1": {
            "type": "string",
            "description": "User legal address, Street and number.\nExample: `Blvd. Kukulcan Km. 4.5`."
          },
          "address2": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "streetNumber": {
            "type": "string"
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryAlpha2Code"
          },
          "city": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "Address state/province/department.\nISO 3166-2:CC (CC: country code).\nOr the state short name.\nExample: `CA` for California, `NY` for New York, `TX` for Texas."
          },
          "birthState": {
            "type": "string",
            "description": "Address state/province/department.\nISO 3166-2:CC (CC: country code).\nOr the state short name.\nExample: `CA` for California, `NY` for New York, `TX` for Texas."
          },
          "lang": {
            "$ref": "#/components/schemas/Language"
          },
          "placeDetail": {
            "type": "string",
            "description": "Place detail from address if available.\nFrom google maps place details."
          },
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude from address"
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude from address"
          },
          "callLocationLatitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude from user location"
          },
          "callLocationLongitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude from user location"
          },
          "paymentMethodType": {
            "$ref": "#/components/schemas/SessionLinkPaymentMethodType"
          },
          "ubnParams": {
            "$ref": "#/components/schemas/AddUBNParams"
          },
          "addCardParams": {
            "$ref": "#/components/schemas/AddCardSessionParams",
            "description": "Proper method for adding cards as payment method"
          }
        },
        "required": [
          "lastName",
          "dob",
          "firstName",
          "address1",
          "countryCode",
          "city",
          "state"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "SessionLinkResponse": {
        "properties": {
          "link": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "statusDetail": {
            "$ref": "#/components/schemas/PlatLevelStatusDetail"
          },
          "cipStatus": {
            "type": "string"
          },
          "cipStatusDetail": {
            "$ref": "#/components/schemas/PlatLevelStatusDetail"
          },
          "accountStatus": {
            "type": "string"
          },
          "paymentMethodStatus": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "link"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "UserStatus": {
        "type": "string",
        "enum": [
          "new",
          "ready"
        ],
        "description": "User status options."
      },
      "CIPData": {
        "properties": {
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "format": "date-time"
          },
          "dobRaw": {
            "type": "string"
          },
          "docType": {
            "type": "string"
          },
          "expDate": {
            "type": "string",
            "format": "date-time"
          },
          "expDateRaw": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "idCountry": {
            "type": "string"
          },
          "idName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "names": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "secondLastname": {
            "type": "string"
          },
          "secondName": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "subtype": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "CIPDocument": {
        "properties": {
          "type": {
            "type": "string"
          },
          "sides": {
            "type": "number",
            "format": "double"
          },
          "hasMRZ": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/CIPData"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "CIP": {
        "description": "Customer Identification Process (CIP) Status and Info.\nChanged from Class to Interface for better serialization support.",
        "properties": {
          "sent": {
            "type": "boolean"
          },
          "touched": {
            "type": "boolean"
          },
          "rejected": {
            "type": "boolean"
          },
          "manual_required": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "documents": {
            "items": {
              "$ref": "#/components/schemas/CIPDocument"
            },
            "type": "array"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "facematch_sent": {
            "type": "boolean"
          },
          "facematch_ok": {
            "type": "boolean"
          },
          "facematch_msg": {
            "type": "string"
          }
        },
        "type": "object",
        "additionalProperties": false
      },
      "IPhoneInfo": {
        "properties": {
          "isValid": {
            "type": "boolean"
          },
          "callerName": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "carrier": {
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "phoneNumber"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "User": {
        "description": "Main User Interface representing a user in the system.",
        "properties": {
          "id": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "secondLastName": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "streetNumber": {
            "type": "string"
          },
          "placeId": {
            "type": "string",
            "description": "Google Maps Place ID"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "birthState": {
            "type": "string"
          },
          "zipcode": {
            "type": "string",
            "description": "Zip/Postal code.",
            "deprecated": true
          },
          "zipCode": {
            "type": "string"
          },
          "addressDescription": {
            "type": "string",
            "description": "Additional address description (e.g., \"Local 304, next to the grocery store\")."
          },
          "placeDetail": {
            "type": "string",
            "description": "Google Maps place details."
          },
          "gender": {
            "type": "string"
          },
          "dob": {
            "type": "string",
            "format": "date-time"
          },
          "country_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/UserStatus"
          },
          "phoneNumber": {
            "type": "string"
          },
          "phoneVerified": {
            "type": "boolean",
            "description": "True if the phone number has been verified via OTP."
          },
          "password": {
            "type": "string",
            "description": "Numi Plat pincode/password.\nNote: Not used to validate user in RaaS."
          },
          "pincode": {
            "type": "string",
            "description": "Pincode used to validate user in RaaS."
          },
          "hasPincode": {
            "type": "boolean"
          },
          "cip": {
            "$ref": "#/components/schemas/CIP"
          },
          "firstTime": {
            "type": "boolean"
          },
          "countryCode": {
            "type": "string"
          },
          "phoneInfo": {
            "$ref": "#/components/schemas/IPhoneInfo",
            "description": "Phone information set during registration.\nUsed to determine country code and select proper KYC provider."
          },
          "tenantId": {
            "type": "string"
          },
          "tenantCode": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "callLocationLatitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude from user's current location"
          },
          "callLocationLongitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude from user's current location"
          },
          "profilePictureUrl": {
            "type": "string",
            "description": "Temporary URL for the user's profile picture.\nGenerated on demand, not persisted."
          },
          "customCountryCode": {
            "type": "string"
          },
          "facebookPublicUserName": {
            "type": "string"
          },
          "instagramPublicUserName": {
            "type": "string"
          },
          "accountCode": {
            "type": "string"
          },
          "lang": {
            "$ref": "#/components/schemas/Language"
          },
          "hasPaymentMethod": {
            "type": "boolean"
          },
          "showLanding": {
            "type": "boolean"
          },
          "showCashLanding": {
            "type": "boolean"
          },
          "isWidgetUser": {
            "type": "boolean"
          },
          "subscriberType": {
            "type": "string"
          },
          "idProspect": {
            "type": "string"
          },
          "documentNumber": {
            "type": "string"
          },
          "tAndCAccepted": {
            "type": "boolean"
          },
          "recordConfirmed": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "subscriberId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "tenantId",
          "tenantCode"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "WidgetWhiteLabel": {
        "properties": {
          "widgetType": {
            "type": "string"
          },
          "widgetPrimaryColor": {
            "type": "string"
          },
          "widgetFontURL": {
            "type": "string"
          },
          "widgetFont": {
            "type": "string"
          }
        },
        "required": [
          "widgetType",
          "widgetPrimaryColor",
          "widgetFontURL",
          "widgetFont"
        ],
        "type": "object"
      },
      "PartnerTokenReponse": {
        "properties": {
          "whiteLabel": {
            "$ref": "#/components/schemas/WidgetWhiteLabel"
          },
          "apiKey": {
            "type": "string"
          },
          "operationId": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        },
        "required": [
          "whiteLabel",
          "apiKey"
        ],
        "type": "object"
      },
      "TokenParams": {
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "required": [
          "token"
        ],
        "type": "object"
      },
      "LevelOneParamsRequst": {
        "properties": {
          "partnerCountryCode": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "placeDetail": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "address4": {
            "type": "string"
          },
          "streetNumber": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "callLocationLongitude": {
            "type": "number",
            "format": "double"
          },
          "callLocationLatitude": {
            "type": "number",
            "format": "double"
          },
          "countryCode": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "birthState": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          }
        },
        "required": [
          "zipCode",
          "city",
          "address1",
          "countryCode",
          "state",
          "userId"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "RequestOTPParams": {
        "properties": {
          "lang": {
            "$ref": "#/components/schemas/Language",
            "description": "lang to send the sms"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "description": "Mobile phone number in international format (e.g. +11234567890)"
          }
        },
        "type": "object"
      },
      "Pick_ValidateOTPParams.Exclude_keyofValidateOTPParams.deviceId__": {
        "properties": {
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "otpCode": {
            "type": "string"
          }
        },
        "required": [
          "otpCode"
        ],
        "type": "object",
        "description": "From T, pick a set of properties whose keys are in the union K"
      },
      "Omit_ValidateOTPParams.deviceId_": {
        "$ref": "#/components/schemas/Pick_ValidateOTPParams.Exclude_keyofValidateOTPParams.deviceId__",
        "description": "Construct a type with the properties of T except for those in type K."
      },
      "ValidateOTPParamsPartner": {
        "$ref": "#/components/schemas/Omit_ValidateOTPParams.deviceId_"
      },
      "IsPhoneAvailableResponse": {
        "properties": {
          "available": {
            "type": "boolean",
            "description": "If the phone is already in use, this field will be set to false."
          },
          "verified": {
            "type": "boolean",
            "description": "If the phone is verified by SMS, this field will be set to true."
          },
          "hasPincode": {
            "type": "boolean",
            "description": "If the user already set a pincode for this phone, this field will be set to true."
          }
        },
        "required": [
          "available",
          "verified",
          "hasPincode"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "IsPhoneAvailableRequest": {
        "properties": {
          "phone": {
            "type": "string",
            "description": "Phone number to check. Phone number must be in E.164 format. e.g. \"+12223334444\""
          }
        },
        "required": [
          "phone"
        ],
        "type": "object",
        "additionalProperties": false
      },
      "GetSessionTokenResponse": {
        "properties": {
          "token": {
[...]
