{
  "openapi": "3.0.0",
  "info": {
    "title": ""
  },
  "servers": [
    {
      "url": "https://raas-partner-cv.nomas.cash/v1"
    }
  ],
  "paths": {
    "/auth/register-trusted-user": {
      "post": {
        "operationId": "registerTrustedUser",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterTrustedUserResponse"
                }
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Creates a pre-authorized user profile validating alias availability without heavy CIP promotion.",
        "summary": "Register verified user",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Name and simplified address data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserParams"
              }
            }
          }
        }
      }
    },
    "/auth/request-otp": {
      "post": {
        "operationId": "requestOtp",
        "responses": {
          "200": {
            "description": "Code Sent"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Issues a one-time temporary token via SMS or other subscribed channel to attest device possession.",
        "summary": "Request OTP verification",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Selected channel and language.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestOTPParams"
              }
            }
          }
        }
      }
    },
    "/auth/validate-otp": {
      "post": {
        "operationId": "validateOtp",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "remainingAttempts": {
                      "type": "number",
                      "format": "double"
                    },
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "remainingAttempts",
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Compares the received numeric value against the persisted one; on match, disables UI restrictions.",
        "summary": "Validate OTP",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Numeric key entered by client.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateOTPParamsPartner"
              }
            }
          }
        }
      }
    },
    "/auth/is-phone-available": {
      "post": {
        "operationId": "isPhoneAvailable",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IsPhoneAvailableResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Syncs with the base vault to answer whether an alias is available or already belongs to a profile.",
        "summary": "Check phone availability",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Country code and contiguous digits.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IsPhoneAvailableRequest"
              }
            }
          }
        }
      }
    },
    "/cip/level/one/v2/{userToken}": {
      "post": {
        "operationId": "performLevelOneV2",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Persists the initial identity onboarding phase for a user via standardized token (CIP phase 1).",
        "summary": "Start identity onboarding ( level 1)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- JWT or unique network user identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Primary fields with user and address data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformLevelOneParams"
              }
            }
          }
        }
      }
    },
    "/cip/documents/{phoneNumber}": {
      "post": {
        "operationId": "uploadIdentityDocuments",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanIdentityResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Processes in-memory flows with encoded images, uploads them to the partner cloud service and validates them.",
        "summary": "Upload identity documents",
        "tags": [
          "Users"
        ],
        "deprecated": true,
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Registered and verified phone number.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/proof-of-life/{phoneNumber}": {
      "post": {
        "operationId": "uploadProofOfLife",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Performs the second stage of strong enrollment; requires face images or video processed against biometric intelligence.",
        "summary": "Upload proof of life (selfie/video)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User phone number identifier.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/set-level/two/{phoneNumber}": {
      "post": {
        "operationId": "setLevelTwo",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Consolidates the end of the CIP step chain based on document analysis and extraction.",
        "summary": "Consolidate level 2",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User phone number to update.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Secondary validation confirmation payload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LevelTwoParams"
              }
            }
          }
        }
      }
    },
    "/cip/level/two/{phoneNumber}/trusted": {
      "post": {
        "operationId": "setTrustedLevelTwo",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Promotes a client to an endorsed Level 2 (trusted) state under the originator partner's risk and liability, bypassing strict KYC.",
        "summary": "Mark as level 2 ( trusted)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Phone number linked to the user to upgrade.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/level/two/trusted/v2/{userToken}": {
      "post": {
        "operationId": "setTrustedLevelTwoV2",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Performs a direct upgrade to Level 2 (trusted) using V2 token, delegating verifications and allowing maximum operations.",
        "summary": "Grant trusted level to V2 identity",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/alternate/{phoneNumber}": {
      "post": {
        "operationId": "setAlternateCIP",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Switches the identity to alternate or legacy CIP origination processes to override failed automated flows.",
        "summary": "Activate alternate CIP flow",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Parallel process or secondary vendor indicator.",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AlternateFlow"
            }
          },
          {
            "description": "- User phone number identifier.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/process/{phoneNumber}": {
      "get": {
        "operationId": "getCIPInfo",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CIPInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves CIP level detail and proof-collection progress for a single user.",
        "summary": "Get CIP validation status",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Phone number that indexes the account.",
            "in": "path",
            "name": "phoneNumber",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/process/v2/{userToken}": {
      "get": {
        "operationId": "getIdentityStatus",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CIPInfo"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves current CIP enrollment detail and status using a V2 system token.",
        "summary": "Get V2 identity status",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- V2 identifier or JWT.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/level/resubmit-upgrade": {
      "post": {
        "operationId": "performResubmitUpgradeLevel",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Used in async review flows to re-trigger or refresh evaluation state (force upgrade).",
        "summary": "Re-evaluate CIP level (force upgrade)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Fields and reasons for the upgrade.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformResubmitUpgradeLevelParams"
              }
            }
          }
        }
      }
    },
    "/cip/poltoken/{userToken}": {
      "get": {
        "operationId": "getPolToken",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolToken"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Creates a single-use encrypted key required for liveness/video verification.",
        "summary": "Get proof of life ( po l) biometric token",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Subscriber identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/validatePoltoken/{userToken}": {
      "post": {
        "operationId": "validatePolToken",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolTokenValidation"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Runs the algorithmic check to verify that Proof of Life metrics from the SDK match the PoL token identity.",
        "summary": "Validate proof of life ( po l) biometric token",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- V2 user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Credentials from the biometric SDK.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolTokenParams"
              }
            }
          }
        }
      }
    },
    "/cip/docs-types-by-user/{userToken}": {
      "get": {
        "operationId": "getDocsTypesByUser",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DocumentTypeItem"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves which government-issued document types are valid for enrollment given the tenant jurisdiction.",
        "summary": "Get enabled document types",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- JWT string.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/cip/uploadFiles/{userToken}": {
      "post": {
        "operationId": "uploadFiles",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Generic multipurpose endpoint that delegates received images (PoL, IDs) to runtime-injected handlers.",
        "summary": "Upload attachment files (multipurpose)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Standard JWT.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Base64 binary and attached document type.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadFilesParams"
              }
            }
          }
        }
      }
    },
    "/cip/level/two/{userToken}": {
      "post": {
        "operationId": "startLevelTwo",
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Uses the V2 core API proxy to re-trigger missing biometric verifications.",
        "summary": "Trigger level 2 validations",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Originator user UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Optional additional reference from front-end flow.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LevelTwoParams"
              }
            }
          }
        }
      }
    },
    "/cip/can-operate/{userToken}": {
      "post": {
        "operationId": "canOperate",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CanOperateResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Evaluates transactional aggregates and CIP status to deny or allow flows within a given business context.",
        "summary": "Check operational viability ( CIP check)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Valid token or UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Alternate phone or transfer metadata to consider.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CanOperateParams"
              }
            }
          }
        }
      }
    },
    "/cip/lola/link/{userToken}": {
      "get": {
        "operationId": "getLolaCIPLink",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "existingCompletedCIP": {
                      "type": "boolean"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "existingCompletedCIP",
                    "url"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves a temporary direct link to the embedded KYC (Lola) flow to advance biometric or OCR in the ecosystem.",
        "summary": "Get CIP flow link ( lola)",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Originator user identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors": {
      "get": {
        "operationId": "getCorridors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/CorridorDTO"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns transfer corridors filtered by region and operation type.",
        "summary": "Get service corridors",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Source country code.",
            "in": "query",
            "name": "sourceCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Operation type (default SendFunds).",
            "in": "query",
            "name": "operationType",
            "required": false,
            "schema": {
              "default": "SendFunds",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-methods/{userToken}": {
      "get": {
        "operationId": "getAvailablePaymentMethods",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "example": [
                  "CreditCard",
                  "DebitCard",
                  "UBN"
                ]
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Computes available receiving methods types for the corridor.",
        "summary": "Get available receiving methods types",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "User identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sourceCountry",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Destination country code.\nISO 3166-1 alpha-2.\nExample: `MX` for Mexico, `US` for United States.",
            "in": "query",
            "name": "destinationCountry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-operations/{userToken}": {
      "get": {
        "operationId": "getAvailableOperationType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Determines allowed operation types for the user by location and destination (Send/Request).",
        "summary": "Get allowed operation types",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Destination country for evaluation.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-operations-data-free": {
      "get": {
        "operationId": "getAvailableOperationsNoUser",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AvailableOperationsData"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Discovers which transactions are enabled toward a destination for the public tenant, without a user.",
        "summary": "Get public operation parameters",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Optional destination phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/corridors/available-payout-methods/{userToken}": {
      "get": {
        "operationId": "getAvailablePayoutMethods",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Inspects corridors and returns unified payout methods approved for the destination.",
        "summary": "Get available payout methods",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token originating the request.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- ISO destination country code.",
            "in": "query",
            "name": "destinationCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Intended operation type.",
            "in": "query",
            "name": "operationType",
            "required": false,
            "schema": {
              "default": "SendFunds",
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/card/generate-micro-trx/{userToken}": {
      "post": {
        "operationId": "generateMicroTrx",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Triggers micro (cent) transactions for strong account validation (AML requirement).",
        "summary": "Generate micro transactions",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Object with payment method ID.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/user/funding/source/delete/{userToken}": {
      "post": {
        "operationId": "deletePaymentMethod",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Unlinks and removes a previously added payment method. Does not affect in-flight transactions.",
        "summary": "Delete payment method",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Owner user identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Unique payment method ID.",
            "in": "query",
            "name": "paymentMethodId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/ubn-account/add/{userToken}": {
      "post": {
        "operationId": "addUBNAccount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPaymentMethodResponse"
                },
                "example": {
                  "id": "6d41ada5-4ecd-4bc4-a561-9a0577a39da7",
                  "status": "Created",
                  "name": "UBN-7890",
                  "isPrimary": false,
                  "createdAt": "2026-04-13T17:47:35.667Z"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Adds a UBN account as a new receiving method.",
        "summary": "Add UBN account",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Validated payload with required parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUBNParams"
              },
              "example": {
                "number": "002320275621938815",
                "currency": "MXN",
                "country": "MX"
              }
            }
          }
        }
      }
    },
    "/user/funding/contact/source/{userToken}": {
      "get": {
        "operationId": "getDestinationSOFForContactUsers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SourceOfFunding"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Inspects unified records for destination accounts (other than originator) where funds were deposited.",
        "summary": "Get funding sources by contact",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Originator user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary phone.",
            "in": "query",
            "name": "destinationPhone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/account/{raasUserId}": {
      "get": {
        "operationId": "getUserAccount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Resolves the user's core RaaS operational account via the primary persistence layer.",
        "summary": "Get user account",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User ID or token.",
            "in": "path",
            "name": "raasUserId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/funding/source/card/update-billing-address/{userToken}": {
      "post": {
        "operationId": "updateAndValidateBillingAddress",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaaSPaymentMethod"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Routes billing address update to the central processor with AVS check for Pull/Push media.",
        "summary": "Update and validate billing address",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Parameterized address object.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAndValidateBillingAddress"
              }
            }
          }
        }
      }
    },
    "/user/funding/card/check-validity-push": {
      "post": {
        "operationId": "checkCardValidityPush",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckCardValidityResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Probes the core OCT gateway for Push operations to verify card health without persisting the full method.",
        "summary": "Check card validity ( push / b i n probe)",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Non-persisted fractional card data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckCardValidityPushParams"
              }
            }
          }
        }
      }
    },
    "/user/funding/card/check-validity-pull": {
      "post": {
        "operationId": "checkCardValidityPull",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckCardValidityResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Determines via interbank rules and network processor probes whether the card is valid for pull capture.",
        "summary": "Check card validity ( pull)",
        "tags": [
          "Funding"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "- Evaluable payload without persisting.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckCardValidityPullParams"
              }
            }
          }
        }
      }
    },
    "/user/landing-port/status/{operationId}": {
      "get": {
        "operationId": "getLandingPortStatusEvent",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LPOperationEvent"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Fetches and returns the current status of a Landing Port operation by its operation ID.",
        "summary": "Get landing port operation status",
        "tags": [],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Unique operation UUID.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/request-money-v2/{userToken}": {
      "post": {
        "operationId": "requestMoneyV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponsePartner"
                },
                "example": {
                  "attributionLink": "https://links-dev.nomas.cash/EFUb8",
                  "createdAt": "/Date(1776102856022)/",
                  "status": "Sent",
                  "code": "Ze2i4o",
                  "correlationId": "b6bf4bcd-7751-426b-86c6-1b3d72ee5a02",
                  "fromUser": {
                    "country": "US",
                    "phoneNumber": "+19163015400",
                    "firstName": "Jose",
                    "lastName": "Llontop",
                    "userId": "0"
                  },
                  "toUser": {
                    "country": "MX",
                    "phoneNumber": "+5215521206706",
                    "firstName": "Maria",
                    "lastName": "Garcia",
                    "email": "",
                    "userId": "d8491cd95cae4fa0ad45d765021adbbb"
                  },
                  "sourcePaymentMethod": {},
                  "destinationPaymentMethod": {
                    "isPrimary": false,
                    "number": "tok_sandbox_9PNgfqqpdpyQpnD1jYkdw1_1111",
                    "type": "DebitCard"
                  },
                  "amount": 500,
                  "currency": "MXN",
                  "senderAmount": 500,
                  "senderCurrency": "MXN",
                  "recipientAmout": 500,
                  "recipientCurrency": "MXN",
                  "estimatedExchangeRate": 1,
                  "platId": "22038600-846a-47fd-8733-3b0fa886d894"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                },
                "example": {
                  "code": "COUNTRY_NOT_SUPPORTED",
                  "reason": "Destination or corridor not allowed for this user."
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "reason": "Unexpected error while creating the request-money operation."
                }
              }
            }
          }
        },
        "description": "Creates a request-money event from originator to beneficiary.",
        "summary": "Request money",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "User identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Credentials and corridor id for the request.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestMoneyPartnerParams"
              },
              "example": {
                "requestTo": "+19166014999",
                "correlationId": "7011cefb-0c0b-48c1-a68a-7134d32e61e4",
                "destinationPaymentMethodId": "6af8e158-be29-422a-8d69-703d6c343c3c",
                "reason": "Request CrossBorder to ...",
                "recipientAmount": 25,
                "recipientCurrency": "USD"
              }
            }
          }
        }
      }
    },
    "/user/operations/send-funds/{userToken}": {
      "post": {
        "operationId": "sendFunds",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponsePartner"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Modern send operation using locked quotation IDs tied to the order.",
        "summary": "Send funds ( v1)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Sender token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Payload requiring quotation ID.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyPartnerParams"
              }
            }
          }
        }
      }
    },
    "/user/operations/send-funds-v2/{userToken}": {
      "post": {
        "operationId": "sendFundsV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponsePartner"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Send variant for cash and wallet destinations, allowing recipients without a preloaded contact.",
        "summary": "Send funds V2",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User identifier or token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Send to arbitrary destination using quotation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMoneyPartnerV2Params"
              }
            }
          }
        }
      }
    },
    "/user/operations/receive-money/{userToken}": {
      "post": {
        "operationId": "receive",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Proactively accepts an incoming funding to move it from pending to deposited.",
        "summary": "Receive money ( legacy)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Recipient user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Confirmation data.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiveMoneyParams"
              }
            }
          }
        }
      }
    },
    "/user/operations/quotation/{userToken}": {
      "post": {
        "operationId": "getOperationQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Pre-calculates cross-border amounts with conversion snapshot and fees for an imminent order.",
        "summary": "Get operation quote",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Requester UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Currency pairs and suggested origin/destination amount.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionBase"
              }
            }
          }
        }
      }
    },
    "/user/operations/operation-quote/{userToken}": {
      "post": {
        "operationId": "operationQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "reason"
                  ],
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Quotes fees, exchange rate and tax for a send, holding the rate temporarily.",
        "summary": "Create firm quotation ( v1)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Signer UUID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Funding instrument and chosen methods.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionPartnersBase"
              }
            }
          }
        }
      }
    },
    "/user/operations/operation-quote-v2/{userToken}": {
      "post": {
        "operationId": "operationQuoteV2",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasQuoteTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "ERROR_INVALID_QUOTATION_REQUEST_DATA",
                  "reason": "Invalid quotation request data"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "reason": "Quote could not be computed (tenant, user, corridor, or rate failure)."
                }
              }
            }
          }
        },
        "description": "Quotes interbank fees using looser parameters without exact destination required in V1.",
        "summary": "Create firm quotation ( V2)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Active evaluator identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Quotation parameters.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteTransactionPartnersBase"
              },
              "example": {
                "recipientUserId": "d8491cd95cae4fa0ad45d765021adbbb",
                "currency": "USD",
                "amount": 100,
                "isSenderAmount": true,
                "sourcePaymentMethodId": "6af8e158-be29-422a-8d69-703d6c343c3c",
                "destinationPaymentMethodId": "f9b8131f-404a-41e0-9312-927cf81f97fe"
              }
            }
          }
        }
      }
    },
    "/user/operations/pre-quote/{userToken}": {
      "post": {
        "operationId": "preQuote",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RaasPreQuoteResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Simulates a preliminary fee scenario by parity and corridors without full identity or destination.",
        "summary": "Pre-quote (simulation)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Prospect identifier.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "- Source instrument and gross amount.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerPreQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/user/operations/detail/{id}": {
      "get": {
        "operationId": "getOperation",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationDetailResponse"
                },
                "example": {
                  "id": "b6bf4bcd-7751-426b-86c6-1b3d72ee5a02",
                  "type": "request",
                  "createdAt": "2026-04-13T17:54:15.180Z",
                  "updatedAt": "2026-04-13T17:54:16.022Z",
                  "amount": 500,
                  "status": "Sent",
                  "statusDetails": "RequestSent",
                  "reason": "Pago de servicio",
                  "code": "Ze2i4o",
                  "recipientAmout": 500,
                  "senderAmount": 0,
                  "fromUser": {
                    "userId": "5bMwDyW4ZDVgu58HKzocpZcZ7fz1",
                    "firstName": "Maria",
                    "lastName": "Garcia",
                    "phoneNumber": "+5215521206706",
                    "email": "",
                    "country": "MX"
                  },
                  "toUser": {
                    "phoneNumber": "+19163015400",
                    "country": "US"
                  },
                  "currency": "MXN",
                  "recipientCurrency": "MXN",
                  "senderCurrency": "USD",
                  "exchangeRate": 1,
                  "destinationPaymentMethod": {
                    "type": "DebitCard",
                    "country": "MX",
                    "id": "f9b8131f-404a-41e0-9312-927cf81f97fe",
                    "number": "tok_sandbox_9PNgfqqpdpyQpnD1jYkdw1_1111",
                    "currency": "MXN"
                  },
                  "attributionLink": "https://links-dev.nomas.cash/EFUb8",
                  "isIgnored": false,
                  "tenantfee": 0,
                  "userId": "5bMwDyW4ZDVgu58HKzocpZcZ7fz1",
                  "cancelable": false,
                  "fromTo": [
                    "5bMwDyW4ZDVgu58HKzocpZcZ7fz1"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Retrieves detailed anatomy, audit pipeline and accounting methods for an operation UUID.",
        "summary": "Get operation detail",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner",
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "Unique operation UUID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/{userToken}": {
      "get": {
        "operationId": "getOperations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetail"
                  },
                  "type": "array"
                },
                "example": [
                  {
                    "id": "b6bf4bcd-7751-426b-86c6-1b3d72ee5a02",
                    "type": "request",
                    "createdAt": "2026-04-13T17:54:15.180Z",
                    "updatedAt": "2026-04-13T17:54:16.022Z",
                    "amount": 500,
                    "status": "Sent",
                    "statusDetails": "RequestSent",
                    "reason": "Pago de servicio",
                    "code": "Ze2i4o",
                    "recipientAmout": 500,
                    "senderAmount": 0,
                    "fromUser": {
                      "userId": "5bMwDyW4ZDVgu58HKzocpZcZ7fz1",
                      "firstName": "Maria",
                      "lastName": "Garcia",
                      "phoneNumber": "+5215521206706",
                      "email": "",
                      "country": "MX"
                    },
                    "toUser": {
                      "phoneNumber": "+19163015400",
                      "country": "US"
                    },
                    "currency": "MXN",
                    "recipientCurrency": "MXN",
                    "senderCurrency": "USD",
                    "exchangeRate": 1,
                    "destinationPaymentMethod": {
                      "type": "DebitCard",
                      "country": "MX",
                      "id": "f9b8131f-404a-41e0-9312-927cf81f97fe",
                      "number": "tok_sandbox_9PNgfqqpdpyQpnD1jYkdw1_1111",
                      "currency": "MXN"
                    },
                    "attributionLink": "https://links-dev.nomas.cash/EFUb8",
                    "isIgnored": false,
                    "tenantfee": 0,
                    "userId": "5bMwDyW4ZDVgu58HKzocpZcZ7fz1",
                    "cancelable": false,
                    "fromTo": [
                      "5bMwDyW4ZDVgu58HKzocpZcZ7fz1"
                    ],
                    "platId": "22038600-846a-47fd-8733-3b0fa886d894"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Lists transaction history for the given user ID.",
        "summary": "List operations (history)",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send",
              "partner"
            ]
          }
        ],
        "parameters": [
          {
            "description": "User ID.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional filter by destination phone.\nExample: `+19166020018`.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/in-out/{userToken}": {
      "get": {
        "operationId": "getInAndOutOperations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetailResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Aggregates in and out operations for this user, excluding those outside their control.",
        "summary": "Get in/out operations",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_full",
              "partner_send"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- User to compute transactions for.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Optional filter by destination phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Optional filter by destination email.",
            "in": "query",
            "name": "toEmail",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/completed/{userToken}": {
      "get": {
        "operationId": "getCompletedOperationsBetweenUsers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/OperationDetailResponse"
                  },
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Returns completed operations to or from a specific phone/email.",
        "summary": "Get completed operations between users",
        "tags": [
          "Operations"
        ],
        "security": [
          {
            "api_key": [
              "partner_send",
              "partner_full"
            ]
          }
        ],
        "parameters": [
          {
            "description": "- Authenticated user token.",
            "in": "path",
            "name": "userToken",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary/contact phone.",
            "in": "query",
            "name": "toPhoneNumber",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- Beneficiary email.",
            "in": "query",
            "name": "toEmail",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/user/operations/replace-payment-method/{userId}": {
      "post": {
        "operationId": "replacePaymentMethod",
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "description": "Replaces or unlinks a payment method on an incomplete operation, updating references.",
        "summary": "Replace payment method on active operation",
        "tags": [
          "Operations"
        ],
[...]
